<div class="infos">
  <h1>Stupid Coaching</h1>
  <p>Ask your coach anything:</p>
</div>

<div class="input-group input-group-lg ml-5">
  <form action="/answer" class="form-inline">
      <input type="text" name="question" class="form-control">
      <input type="submit" value="Ask" class="btn btn-primary">
  </form>
</div>
